.tituloPrincipal{
    padding-left: 30px;
}
#banner{
    width: 100%;
}
.principal{
    background-color: #cccccc;
    padding: 20px;
}
.tituloCentro{
    text-align: center;
}
p{
    text-align: center;
}
em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.diferenciales{
    background-color: #fff;
    padding: 30px;
}
.items{
    font-style: italic;
}
.listaDiferencial{
    display: inline-block; /* ocupar solo el espacio de tu contenido*/
    vertical-align: top; 
    width: 20%;
    margin-right: 15%;
} 
.imagenDiferenciales{
    width: 50%;
}
/* Pagina Productos */
#headerProductos{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.cartas{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.cartas li{ /*debo marcar los elemento sde la lsita */
    display: inline-block;
    text-align: center;
    width: 30%; /* para cada se ocupe el 90% y el resto es el espaio*/
    vertical-align: top;
    margin: 0 1.5%;;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    
}
.cartas li:hover{
    border-color:#c78c19;
}
.cartas li:active{ /*captura el clic*/
    border-color: #0bbc19;
}
.cartas h2{
    font-size: 30px;
    font-weight: bold;
}
.cartas li:hover h2{
    font-size: 33px;
}
.productosDescripcion{
    font-size: 18px;
}
.productosPrecio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(/assets/img/bg.jpg);
    padding: 40px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
